<!doctype html>
<html>
  {{ template "header" . }}
  <body>
    {{ template "navbar" . }}
    <div class="container mx-auto mt-20 p-5 min-h-screen flex items-center" >
      <div class="flex flex-col items-center max-w-sm mx-auto text-center">
        <h1 class="text-5xl font-bold m-4">404 Page not found</h1>
        <a href="/">
          <button
            type="button"
            class="rounded-lg focus:ring-4 bg-gray-100 hover:bg-gray-200 font-semibold text-center p-3"
          >
            Go Home
          </button>
        </a>
      </div>
    </div>
  </body>
</html>
