{{ define "navbar" }}
<nav
  class="fixed w-full z-20 top-0 left-0 border-b border-10 border-gray-200 bg-white p-2"
>
  <div
    class="max-w-screen-2xl flex flex-wrap items-center justify-between mx-auto pt-4 pl-4 pr-4 pb-1"
  >
    <div class="flex flex-col">
      <a
        class="text-3xl font-bold mr-3 self-center whitespace-nowrap hover:text-gray-700"
        href="/"
        >Training Tracker</a
      >
      <div class="flex flex-row gap-2 pt-1">
        <a
          href="/tags"
          class="rounded-md bg-gray-100 hover:bg-gray-200 px-2 py-1"
          >tags</a
        >
        <a
          href="/finished"
          class="rounded-md bg-gray-100 hover:bg-gray-200 px-2 py-1"
          >done</a
        >
        <a
          href="/running"
          class="rounded-md bg-gray-100 hover:bg-gray-200 px-2 py-1"
          >running</a
        >
      </div>
    </div>
    <div>
      <a href="/newtag">
        <button
          class="rounded-lg focus:ring-4 bg-gray-100 hover:bg-gray-200 font-semibold text-center p-3"
          title="New Tag"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
            width="1rem"
            height="1rem"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9.568 3H5.25A2.25 2.25 0 003 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 005.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 009.568 3z"
            />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 6h.008v.008H6V6z"
            />
          </svg>
        </button>
      </a>
      <a href="/new">
        <button
          type="button"
          class="rounded-lg focus:ring-4 bg-gray-100 hover:bg-gray-200 font-semibold text-center p-3"
          title="New Run"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
            width="1rem"
            height="1rem"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
        </button>
      </a>
    </div>
  </div>
</nav>
{{ end }}
